<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aashiFreecharge.SpringBootmyBatis.mapper.IEmployeeMapper">
    <!--     we are taking the property name and mapping it to the column names-->
    <resultMap id="employee" type="com.aashiFreecharge.SpringBootmyBatis.model.EmployeeDetails" >
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="phoneNo" column="phone_no" />
        <result property="emailId" column="email_id" />
        <result property="isActive" column="is_Active" />
    </resultMap>

    <select id="getAllEmpDetails" resultMap="employee">
        select * from employee_details where is_Active=true
    </select>

    <insert id="insertEmployee" parameterType="com.aashiFreecharge.SpringBootmyBatis.model.EmployeeDetails" >
        insert into employee_details(name, phone_no, email_id)
        values( #{name}, #{phoneNo}, #{emailId})
    </insert>

    <update id="updateEmployee" parameterType='com.aashiFreecharge.SpringBootmyBatis.model.EmployeeDetails'>
        Update employee_details
        SET
        name= #{name},
        phone_no= #{phoneNo},
        email_id= #{emailId},
        is_Active = #{isActive}
        WHERE
        id= #{id}
    </update>

    <delete id="deleteEmployee" >
        Delete from employee_details
        where
        id=#{id}
    </delete>

    <select id="findById"  resultMap="employee">
        select * from employee_details where id = #{id}
    </select>
</mapper>