<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!--       short name for the actual class path (alias)-->
        <typeAlias type="com.aashiFreecharge.SpringBootmyBatis.model.EmployeeDetails" alias="employee"/>
    </typeAliases>

    <mappers>
        <!--         to tell where the mappers are located -->
        <mapper resource="EmployeeMapper.xml" />
    </mappers>
</configuration>